.psfw-main-product-wrapper.psfw-grid-template-6 .psfw-inner-wrap-contain .psfw-title a, .psfw-main-product-wrapper.psfw-car-template-2 .psfw-inner-wrap-contain .psfw-title a{

font-size: 15px;
    color: #1f1f1f;
    text-transform: capitalize;
    letter-spacing: 1px;
}    
.bx-wrapper{


}